<!DOCTYPE html>
<html>
<head>
<title>Josh's Reading</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="http://code.jquery.com/jquery-1.12.3.min.js""></script>
<link rel="icon" type="image/x-icon" href="../pictures/favicon.ico">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right"><a href = "/">Back to main page</a></span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s8 w3-bar">
      <span>
        <strong><h2>Welcome!</h2></strong>
        <p>This is a collection of all the books that I have read since the start of 2020</p>
      </span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5><strong>Sort By</strong></h5>
  </div>
  <div class="w3-bar-block">
    
    <a href="/reading/1" class="w3-bar-item w3-button w3-padding" id="1"><i class="fa fa-bookmark fa-fw"></i>Book Title (ASC)</a>
    <a href="/reading/2" class="w3-bar-item w3-button w3-padding" id="2"><i class="fa fa-bookmark fa-fw"></i>Book Title (DESC)</a>
    <a href="/reading/3" class="w3-bar-item w3-button w3-padding" id="3"><i class="fa fa-bookmark fa-fw"></i>Author Name (ASC)</a>
    <a href="/reading/4" class="w3-bar-item w3-button w3-padding" id="4"><i class="fa fa-bookmark fa-fw"></i>Author Name (DESC)</a>
    <a href="/reading/5" class="w3-bar-item w3-button w3-padding" id="5"><i class="fa fa-bookmark fa-fw"></i># of pages (ASC)</a>
    <a href="/reading/6" class="w3-bar-item w3-button w3-padding" id="6"><i class="fa fa-bookmark fa-fw"></i># of pages (DESC)</a>
    <a href="/reading/7" class="w3-bar-item w3-button w3-padding" id="7"><i class="fa fa-bookmark fa-fw"></i>Year Published (ASC)</a>
    <a href="/reading/8" class="w3-bar-item w3-button w3-padding" id="8"><i class="fa fa-bookmark fa-fw"></i>Year Published (DESC)</a>
    <a href="/reading/9" class="w3-bar-item w3-button w3-padding" id="9"><i class="fa fa-bookmark fa-fw"></i>Year Read (ASC)</a>
    <a href="/reading/10" class="w3-bar-item w3-button w3-padding" id="10"><i class="fa fa-bookmark fa-fw"></i>Year Read (DESC)</a><br><br>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h6><b><i class="fa fa-bar-chart"></i> My Stats</b></h6>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-light-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-book w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3><%= books.length %></h3>
        </div>
        <div class="w3-clear"></div>
        <h4># of books</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-light-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-file w3-xxxlarge"></i></div>
        <div class="w3-right">
          <!-- Inject JS to count the number of pages-->
          <% var pages = 0;
             for(var i = 0; i < books.length; i++){ 
               pages += books[i].pages; 
             } %>
          <h3><%= pages %></h3>
        </div>
        <div class="w3-clear"></div>
        <h4># of pages</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-light-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <%  var set = new Set();
              for(var i = 0; i < books.length; i++){
                set.add(books[i].author);
              } %>
          <h3><%= set.size %></h3>
        </div>
        <div class="w3-clear"></div>
        <h4># of authors</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-light-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-calendar w3-xxxlarge"></i></div>
        <div class="w3-right">
          <%  var current_year = new Date(); %>
          <h3><%= current_year.getFullYear() - 2019 %></h3>
        </div>
        <div class="w3-clear"></div>
        <h4># of years</h4>
      </div>
    </div>
  </div>
  <div class="w3-container">
    <h6><b><i class="fa fa-book"></i> My Library</b></h6>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr>
        <th>Book Title</th>
        <th>Author</th>
        <th>Pages</th>
        <th>Published</th>
        <th>Year Read</th>
      </tr>
      <% for(var i = 0; i < books.length; i++){ %>
        <tr>
          <td><%= books[i].title %></td>
          <td><%= books[i].author %></td>
          <td><%= books[i].pages %></td>
          <td><%= books[i].year_published %></td>
          <td><%= books[i].year_read %></td>
        </tr>
      <% } %>
    </table><br>
  </div>
  <hr>
  <br>
  

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4><strong>Personal Favorites</strong></h4>
    <div class="w3-container w3-dark-grey w3-padding-32">
      <div class="w3-row">
        <div class="w3-container w3-third">
          <h5 class="w3-bottombar w3-border-blue"></h5>
          <p>1984</p>
          <p>Man's Search for Meaning</p>
          <h5 class="w3-bottombar w3-border-blue"></h5>
        </div>
        <div class="w3-container w3-third">
          <h5 class="w3-bottombar w3-border-blue"></h5>
          <p>Unbroken</p>
          <p>Smart Baseball</p>
          <h5 class="w3-bottombar w3-border-blue"></h5>
        </div>
        <div class="w3-container w3-third">
          <h5 class="w3-bottombar w3-border-blue"></h5>
          <p>Shoe Dog</p>
          <p>Everything is F*cked</p>
          <h5 class="w3-bottombar w3-border-blue"></h5>
        </div>
      </div>
    </div>
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>